@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

.container {
  display: flex;
  margin-top: 10rem;
  justify-content: space-around;
  align-items: stretch;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 29rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 0;
}
.left img{
  border: 4mm ridge rgba(170, 50, 220, 0.6);
}
.inner {
  margin: 0.9;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 0;
}
.right h2 {
  color: #2c3e50;
}
.siteImg {
  border: 4mm ridge rgba(170, 50, 220, 0.6);
  /* transition: all .3s ease-in-out; */
}
.siteImg :hover{
  transform: scale(0.5);
}
.customlist {
  padding-left: 20px;
  list-style: none;
}
.customlist li {
  margin-bottom: 10px;
}
.customlist li:before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin: 0 5px 0 -15px;
  color: #2c3e50;
  opacity: 0.8;
}
.static {
  height: 100vh;
  width: 100vw;
}
.Portofoliofirst {
  position: absolute;
  color: #2c3e50;
  transform: rotate(3.4deg) translateY(20.5px);
}
.Portofoliofirst p {
  transform: translateY(21.5px);
}
.panel.align-top {
  align-items: flex-start;
}

.projecttitle {
  position: fixed;
  top: 13rem;
  display: flex;
  font-size: 1.5em;
  color: #2c3e50;
  font-weight: 700;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px dashed black;
  border-radius: 22% 25% 26% 32%;
  padding: 0 1rem;
}
.panel h2 {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1rem;
}
.panel p {
  font-size: 1em;
  /* color: white; */
  font-weight: 300;
  margin: 0 auto;
}
.panel.description {
  padding-bottom: 60px;
}
.panel p,
.panel li {
  color: black;
  font-weight: 400;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0.3em 0 1em 0;
}
.panel p strong,
.panel li strong {
  color: white;
  font-weight: 400;
}
.panel p code,
.panel li code {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2px 4px;
  border-radius: 5px;
}
.panel li {
  margin: 0;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.panelBackground {
  z-index: -1;
}
.main {
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

/* HEADINGS */
.header-section {
  padding: 0 15px;
  text-align: center;
  margin: 40vh auto 50vh;
}

/* SCROLL DOWN */
.scrollDown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
  top: 11rem;
}
.scrollDown .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  animation: floating 5s linear 2s infinite;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

.arrow-right {
  transform: rotate(-90deg);
  position: relative;
  top: -4px;
  margin: 1rem auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}
.skilltitle {
  margin: 0 2rem;
  margin-bottom: 2rem;
  background-color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 1rem 1rem 0 0;
}
.skills {
  display: flex;
  color: #e8573b;
  width: 272px;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  background-color: white;
  border-radius: 1rem;
  /* animation: floating 5s linear 2s infinite; */
}
.skills :not(.logoReact) :nth-child(n) {
  margin: 0.2rem 0.4rem;
  width: 2rem;
}
.skills :nth-child(n) :hover {
  cursor: pointer;
  animation: bounce 0.7s ease infinite;
}
.logoHtml5 {
  color: #e8573b;
}
.logoCss3 {
  color: #007cc5;
}
.logoSass {
  color: #c76395;
}
.logoJs {
  color: #efd81d;
}
.logoReact {
  color: #61dafb;
  width: 2.4rem;
}
.logoGit {
  color: #fa4f28;
  width: 2.4rem;
}
/* .tail {
  position: fixed;
  display: none;
} */

@media screen and (max-width: 940px) {
  .Portofoliofirst {
    transform: rotate(3.4deg) translateY(-7.5px) translateX(-8px) scale(0.8);
  }
  .Portofoliofirst h1 {
    font-size: 2rem;
  }
  .Portofoliofirst p {
    font-size: 1rem;
  }
  .container {
    margin-top: 6rem;
    flex-direction: column;
  }
  .container:nth-child(1) {
    margin-top: 0;
  }
  .container :not(header) {
    align-items: center;
  }
  .left {
    flex-direction: row;
    width: 90vw;
    height: 40%;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 1rem;
  }
  .siteImg{
    width: 5px;
  }
  .right {
    width: 90vw;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
  }
  .right h2 {
    margin: 0;
  }
  .projecttitle {
    position: unset;
    font-size: 1.2rem;
    margin: 0 0.4rem;
  }
  .skills :not(.logoReact) :nth-child(n) {
    margin: 0.2rem 0.4rem;
    width: 1rem;
  }
  .logoReact {
    width: 1.4rem;
  }
  .inner {
    margin: 0.9;
    color: black;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
